@using Sajt.BiznisSloj.DTO


    <footer class="footer">
        <div class="container">
            <div class="row">

                <!-- Footer Column -->
                <div class="col-lg-3 footer_column">
                    <div class="footer_col">
                        <div class="footer_content footer_about">
                            <div class="logo_container footer_logo">
                                <div class="logo"><a href="#"><img src="/Content/images/logo.png" alt="">Zašto baš cimet?</a></div>
                            </div>
                            <p class="footer_about_text">
                                Jedan je od najstarijih začina, koristili su ga i i stari Kinezi, Egipćani i Feničani.
                                Da je poseban pokazuju i rukopisi na sanskritu napisani 2.800. godine pre Hrista.
                            </p>
                            <ul class="footer_social_list">
                                <li class="footer_social_item"><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                                <li class="footer_social_item"><a href="#"><i class="fa fa-twitter"></i></a></li>

                            </ul>
                        </div>
                    </div>
                </div>

                <!-- Footer Column -->
                <div class="col-lg-3 footer_column">
                    <div class="footer_col">
                       
                    </div>
                </div>

                <!-- Footer Column -->
                <div class="col-lg-3 footer_column">
                    <div class="footer_col">
                        <div class="footer_title">tagovi</div>
                        <div class="footer_content footer_tags">
                            <ul class="tags_list clearfix">
                                <li class="tag_item"><a href="#">zdravlje</a></li>
                                <li class="tag_item"><a href="#">fitnes</a></li>
                                <li class="tag_item"><a href="#">ishrana</a></li>
                                <li class="tag_item"><a href="#">lekovito bilje</a></li>
                                <li class="tag_item"><a href="#">alternativna medicina</a></li>
                                <li class="tag_item"><a href="#">recepti</a></li>
                                <li class="tag_item"><a href="#">dijete</a></li>
                                <li class="tag_item"><a href="#">imunitet</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- Footer Column -->
                <div class="col-lg-3 footer_column">
                    <div class="footer_col">
                        <div class="footer_title">kontakt info</div>
                        <div class="footer_content footer_contact">
                            <ul class="contact_info_list">
                                <li class="contact_info_item d-flex flex-row">
                                    <div><div class="contact_info_icon"><img src="/Content/images/placeholder.svg" alt=""></div></div>
                                    <div class="contact_info_text">4127 Beograd</div>
                                </li>
                                <li class="contact_info_item d-flex flex-row">
                                    <div><div class="contact_info_icon"><img src="/Content/images/phone-call.svg" alt=""></div></div>
                                    <div class="contact_info_text">2556-808-8613</div>
                                </li>
                                <li class="contact_info_item d-flex flex-row">
                                    <div><div class="contact_info_icon"><img src="/Content/images/message.svg" alt=""></div></div>
                                    <div class="contact_info_text"><a href="mailto:dusicacakic@gmail.com?Subject=Hello" target="_top">dusicacakic@gmail.com</a></div>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </footer>

    <!-- Copyright -->

    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 order-lg-1 order-2  ">
                    <div class="copyright_content d-flex flex-row align-items-center">
                        <div>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 order-lg-2 order-1">
                    <div class="footer_nav_container d-flex flex-row align-items-center justify-content-lg-end">
                        <div class="footer_nav">
                            <ul class="footer_nav_list">
                                <li class="footer_nav_item">@Html.ActionLink("Početna", "Index", "Home")</li>
                                <li class="footer_nav_item">@Html.ActionLink("O nama", "About", "Home")</li>
                                <li class="footer_nav_item">@Html.ActionLink("Galerija", "Galerija", "Home")</li>
                                <li class="footer_nav_item">@Html.ActionLink("Recepti", "Recepti", "Home")</li>
                                <li class="footer_nav_item">@Html.ActionLink("Blog", "Blog", "Home")</li>
                                <li class="footer_nav_item">@Html.ActionLink("Kontakt", "Contact", "Home")</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/scripts")
    @Scripts.Render("~/bundles/jqueryval")



